* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

textarea {
    resize: none;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

$color1: #180A0A;
$color2: #191970;
$color3: #228B22;
$color4: #8B0000;
$color5: #FFFFF0;