.tables-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/backgrounds/tables.webp');
    background-size: cover;
    background-attachment: fixed;
    padding: 2em 0em;
    h1 {
        -webkit-text-stroke: 1px $color1;
        margin-bottom: 1em; /* Ajusta el ancho y el color del borde según tus preferencias */
        color: $color5;
        font-size: 3em;
    }
    .tables {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
    }
}