.table-item {
    background-color: $color2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    overflow: hidden;
    img {
        @include size(12em, 18em);
    }
    h5 {
        color: $color5;
        padding: 1em;
        font-size: 1em;
        font-weight: bold;
    }
    &:hover {
        img {
            transition: ease-in .3s;
            opacity: 80%;
        }
    }
}